# visual studio tmp files
x64/
src/x64/
.vs/
*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.vcxproj.filters
*.vcxproj.user
*.vc.db
*.db
*.opendb
*.TMP

# java binaries
*.class

# tmp files
*~
*.swp

# heap dump files can be very large
*.hprof

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
